$corner-spacing: -8px;

.box-with-corners {
    position: relative;
    background-color: #bd8548;
    border: 4px solid #000;
    padding: 4px;

    &--content {
        background-color: #bd8548;
        border: 3px solid #000;
        height: 100%;
    }

    &--corner {
        position: absolute;

        img {
            display: block;
        }
    }

    .corner-tl {
        top: $corner-spacing;
        left: $corner-spacing;
    }

    .corner-tr {
        top: $corner-spacing;
        right: $corner-spacing;
    }

    .corner-bl {
        bottom: $corner-spacing;
        left: $corner-spacing;
    }

    .corner-br {
        bottom: $corner-spacing;
        right: $corner-spacing;
    }
}