.nav {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    
    @include atMedium {
        padding-bottom: 0.5rem;
        
    }
    &--logo {
        width: 100%;
        margin-top: 0; //1.5rem;
        margin-bottom: 0.5rem;

        @include atMedium {
            display: block;
            max-width: 14rem;
            margin-top: 0;
        }
    }
}