.services {

    &--card {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    &--image {
        width: 100%;
        
        img {
            display: block;
            width: 100%;
            border-radius: 0.5rem 0.5rem 0 0;
            opacity: 0.80;
            
            @include atLarge {
                border-radius: 0.5rem;
            }
        }
    }

    &--details {
        z-index: 5;
        // border-radius: 0;
        border-radius: 0 0 0.5rem 0.5rem ;
        opacity: 0.96;
        width: 100%;

        @include atSmall {
            border-radius: 20px;
            max-width: 80%;
            position: absolute;
            text-align: center;
        }

        @include atMedium {
            max-width: 60%;
        }

        @include atLarge {
            max-width: 50%;
        }

        h2 {
            margin-top: 0;
        }
    }

    &--outlined-text {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        display: none;

        @include atSmall {
            display: flex;
        }

        h1 {
            margin: 0;
        }
        
        .text-stroke {
            font-size: 4rem;
            line-height: 0.8em;
            text-align: center;
            // left: 50%;
            // transform: translate(-50%, -50%);

            @include atSmall {
                font-size: 6rem // 4rem;
            }

            @include atMedium {
                font-size: 8rem;
                top: 50%;
            }

            @include atLarge {
                font-size: 12rem;
            }
        }
    }

    .glass {
        background-color: rgba(255, 255, 255, 0.4);
    }
}