{{ $site_background := partial "func/GetSiteBackground.html" . }}
{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

{{ $hero_image := "" }}
{{ with .Params.hero_image }}
  {{ $hero_image = trim . "/" | absURL }}
{{ end }}

{{ if $hero_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <header class="gradient-bg" >
      <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
        {{ partial "site-navigation.html" .}}
  
        <div class="ph3 ph4-ns w-100 w-70-ns center">
          <div class="hero-area">
            <div class="grid grid--2column">
              <div class="column">
                <div class="hero-area--details">
                  <div class="f2 tc tl-ns 1h-copy hero-area--copy">
                    {{ .Content }}
                  </div>
                </div>
              </div>
              <div class="column">
                <img class="hero-area--image" src="{{ $hero_image }}">
              </div>
            </div>

          </div>
        </div>
    </div>
  </header>

{{ end }}
