{{ $site_background := partial "func/GetSiteBackground.html" . }}
{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

{{ $hero_image := "" }}
{{ with .Params.hero_image }}
  {{ $hero_image = trim . "/" | absURL }}
{{ end }}

{{ if .Params.hero_image_1 }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ if .Params.is_home }}
    <header class="hero-area--header hero-area--header-home ocean-container">
  {{ else }}
    <header class="hero-area--header ocean-container">
  {{ end }}
      {{/*  <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">  */}}

<div class="ocean">
  <div class="wave"></div>
  <div class="wave wave2"></div>
</div>
  
        <div class="pv3 pv5-ns ph3 ph4-ns w-100 w-90-ns mw9 center relative z-999">
          <div class="hero-area">
            <div class="grid grid--2column">
              <div class="column">
                <div class="hero-area--details">
                  <div class="mb3 mb0-ns hero-area--image">
                    {{ with resources.Get .Params.hero_image_1 }}
                      <img class="hero-area--photo" src="{{ (.Fill "640x640 webp q90 top").RelPermalink }}">
                    {{ end }}
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="f4 f3-ns tc tl-ns hero-area--copy">
                  <div class="pa3 pa4-ns animate__animated">
                    {{ .Content | safeHTML  }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  </header>
{{ else }}
  <header>
    <div class="cover" class="pb3-m pb6-l {{ .Site.Params.background_color_class | default "bg-black" }}" style="background-image: url('{{ $site_background }}');">
      {{ partial "site-navigation.html" . }}

      <div class="mw9 center ph3-ns">
        <div class="hero-area">
          <div class="hero-area--details">
            {{ .Content }}
          </div>
        </div>
      </div>

    </div>
  </header>
{{ end }}
