{{/* For Users's overwrite */}}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!-- <script src="/js/jquery.magnific-popup.min.js"></script>  -->
<script src="https://cdn.jsdelivr.net/npm/magnific-popup@1.1.0/dist/jquery.magnific-popup.min.js"></script>
<!-- <script src="/js/anime.min.js"></script>
<script src="/js/text-animation.js"></script> -->

<script type="text/javascript">
  $('.image-gallery').magnificPopup({
    delegate: 'a', // child items selector, by clicking on it popup will open
    type: 'image',
    gallery:{enabled:true}
  });
</script>

<script type="text/javascript">
  $('.image-caption-gallery').magnificPopup({
		delegate: 'a',
		type: 'image',
		tLoading: 'Loading image #%curr%...',
		mainClass: 'mfp-img-mobile',
		gallery: {
			enabled: true,
			navigateByImgClick: true,
			preload: [0,1] // Will preload 0 - before current, and 1 after the current image
		},
		image: {
			tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
			titleSrc: function(item) {
				return item.el.attr('title');
			}
		}
  });

  $('.open-popup-link').magnificPopup({
    type:'inline',
    midClick: true // Allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source in href.
  });
</script>

<!-- <script type="text/javascript">
  anime({
    targets: '.heartbeat',
    translateY: -2,
    scale: 1.03,
    rotate: 1,
    direction: 'alternate',
    easing: 'easeInOutSine',
    loop: true
  });
  anime({
    targets: '.basic-staggering-demo .el',
    translateY: -2,
    opacity: ['1', '0.3'],
    direction: 'alternate',
    easing: 'easeInOutSine',
    loop: true,
    delay: anime.stagger(100) // increase delay by 100ms for each elements.
  });
</script> -->

<script type="text/javascript">
  function showDropdown() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
</script>

<script type="text/javascript">
  function expandImage(id) {
    var target = document.getElementById('target-' + id);
    var button = document.getElementById('button-' + id);
    if (hasClass(target, "expanded")) {
      removeClass(target, "expanded");
      button.textContent = "Expand";
    } else {
      addClass(target, "expanded");
      button.textContent = "Close";
    }
  }

  function hasClass(el, className)
  {
      if (el.classList)
          return el.classList.contains(className);
      return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
  }
  
  function addClass(el, className)
  {
      if (el.classList)
          el.classList.add(className)
      else if (!hasClass(el, className))
          el.className += " " + className;
  }
  
  function removeClass(el, className)
  {
      if (el.classList)
          el.classList.remove(className)
      else if (hasClass(el, className))
      {
          var reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
          el.className = el.className.replace(reg, ' ');
      }
  }
</script>