.capsule {
    
    &--image {
        // border-bottom: 3px solid #000;
        img {
            display: block;
            width: 100%;
        }
    }

    &--title {
        background-color: #000;
        // border-bottom: 3px solid #000;
    }

    &--copy {
        min-height: 220px;
    }

    &--bullet-points {
        padding-inline-start: 20px;

        li + li {
            margin-top: 0.25em;
        }
    }

    &--link-container {
        .capsule--link-group {
            border-top: 1px solid #cacaca;
        }
        .capsule--link-group:nth-child( odd ) {
            // background-color: #999;
        }
    }

    &--links-logo {
        max-width: 120px;
        max-height: 100px;
    }

    &--links {
        display: flex;
        gap: 1.5rem;
        flex-wrap: wrap;
        justify-content: center;

        a {
            display: block;
            width: 33%;

            img {
                display: block;
            }
        }
    }
}

@include atMedium {

    .capsule-style--two-column {
        grid-column: 1 / 3;
    
        .capsule {
            display: grid;
            gap: 0;
            grid-template-columns: 1fr 1fr;
        }
    
        .capsule--image {
            border-right: 3px solid #000;
        }
    }
}