.client-logos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    &--link {
        display: inline-block;
        margin: 1rem;

        @include atMedium {
            margin: 1.5rem;
        }
        
        img {
            max-height: 4rem;
            max-width: 8rem;
        }
    }
}

.client-logos--link.the-walking-dead {
    img {
        width: 14rem;
        max-width: 14rem;
        margin-right: -1rem;
    }
}

.client-logos--link.skybound {
    img {
        margin-top: -0.5rem;
    }
}

.client-logos--link.twitch {
    img {
        width: 300px;
        height: 141px;
    }
}