.footer-logos {
    &--link {
        display: inline-block;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;

        @include atMedium {
            margin: 0 0 0 1.5rem;
        }
        
        img {
            max-height: 4rem;
            max-width: 8rem;
        }
    }
}

.footer-logos--link.the-walking-dead {
    img {
        width: 14rem;
        max-width: 14rem;
        margin-right: -1rem;
    }
}

.footer-logos--link.skybound {
    img {
        margin-top: -0.5rem;
    }
}