.gallery {
    &--grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        @include atSmall {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }

        @include atMedium {
            grid-template-columns: 1fr 1fr 1fr;
            gap: 1.5rem;
        }
    }

    &--image {
        border: 1px solid $color--alt;

        &:hover {
            border: 1px solid $color--alt-hover;
        }
    }
}

#gallery {
    .content-section {
        width: auto;
    }
}