nav {
    position: relative;
    z-index: 999;
}

.hero-area {
    display: flex;
    align-items: center;
    justify-content: center;

    .grid {
        justify-items: center;
        align-items: center;
    }

    .grid--2column {
        grid-template-columns: 1fr;

        @include atMedium {
            grid-template-columns: 1fr 1.25fr;
        }

        @include atLarge {
            grid-template-columns: 1fr 1.5fr;
        }
    }

    &--details {
        // max-width: 640px;
        // margin-bottom: 0rem;
        // padding: 4rem 3.5rem;
        // background-color: black;

        z-index: 2;
    }

    &--copy {
        text-align: center;

        @include atMedium {
            text-align: left;
        }

        h1 {
            font-size: 2rem;
            margin: 0 0 0.5rem;
            color: #222;

            @include atSmall {
                font-size: 3rem;
            }
        }
        h2 {
            font-size: 1.25rem;
            margin: 0 0 0.5rem;
            color: #222;

            @include atSmall {
                font-size: 1.5rem;
            }
        }
        p {
            font-size: 1rem;
            margin: 0.5rem 0;
            color: #222;
            // text-shadow: 0 0 10px #000;

            @include atSmall {
                font-size: 1.25rem;
            }
        }

        // p + p {
        //     margin-top: 1.5rem;
        // }

        a {
            position: relative;
            display: inline-block;
            cursor: pointer;
            outline: none;
            border: 0;
            vertical-align: middle;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
            padding: 1rem 1.5rem;
            margin: 1rem 0 0;
            background: $color--alt;
            border-radius: 0.2em;

            @include atSmall {
                font-size: 1.25rem;
                padding: 1rem 2rem;
            }
        }

        .contact-details {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 -0.5rem;

            li {
                margin: 0 0.5rem;
            }

            i {
                color: #444;
            }
            
            @include atMedium {
                justify-content: left;
            }
        }

    }

    &--image {
        max-width: 440px;
        margin-left: auto;
        margin-right: auto;
    }

    &--photo {
        border-radius: 50%;
    }

    &--image-breakout {
        max-width: 840px;
        width: 90%;
        margin: 0 auto;
        z-index: 0;
        // overflow: hidden;
        position: relative;
        display: none;

        @include atMedium {
            display: block;
            position: absolute;
            bottom: 0rem;
            left: 48%;
        }

        img {
            display: block;
            position: absolute;
        }

        .hero-area--image-1 {
            bottom: 0rem;
        }

        .hero-area--image-2 {
            bottom: -2rem;
            left: -10rem;
            rotate: -2deg;
            transform: scale(0.95);
        }

        .hero-area--image-3 {
            bottom: -4rem;
            left: -20rem;
            rotate: -4deg;
            transform: scale(0.9);
        }
    }

    &--video {
        display: block;
        box-shadow: 0 0 4px #000;

        video {
            display: block;
        }
    }

    .animated-text {
        margin: -0.25rem 0 1.25rem;
    }

    &--header {
        // min-height: 360px;
        // overflow: hidden;

        @include atSmall {
            // min-height: 500px;
        }

        @include atMedium {
            height: 860px;
            // min-height: 860px;
        }

        .clients {
            width: 100%;
            line-height: 0.8em;
            text-align: center;
        }

        // &-home {
        //     min-height: 770px;
    
        //     @include atSmall {
        //         min-height: 800px;
        //     }
        // }
    }

    &--featured-image {
        position: relative;
        margin-top: 0;
        z-index: 9;
        box-shadow: 0px 0px 16px #222;

        @include atMedium {
            margin-top: -3rem;
        }

        img {
            display: block;
        }
    }

}

.ocean-container {
    position: relative;
    background: radial-gradient(rgba(255,254,234,1) 0%, rgba(255,254,234,1) 10%, #a2e0e4 100%);
}

.ocean {
  height: 5%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
  position: absolute;
  width: 6400px;
  top: -198px;
  left: 0;
  height: 198px;
  transform: translate(0, 0, 0);
  animation: wave 7s ease infinite;
}

.wave:nth-of-type(2) {
  top: -168px;
  animation: swell 4s ease infinite;
  opacity: 1;
}

@keyframes wave {
  0% { margin-left: 0; }
  100% { margin-left: -1600px;}
}
@keyframes swell {
  0%, 100% {
    transform: translate(0, -30px);
  }
  50% {
    transform: translate(0, 5px);
  }
}