$color--timeline-color: #015871; //$color--main-light;
$color--project-timeline-bar: $color--timeline-color;
$color--project-timeline-bar-endpoint: $color--timeline-color;

.project-timeline {
    margin-top: 1rem;
    padding-bottom: 2rem;
    position: relative;

    &::before {
        background: $color--project-timeline-bar;
        content: "";
        height: 100%;
        left: 0;
        right: 0;
        position: absolute;
        width: 2px;
        z-index: -1;
        margin: 0 auto;
    }

    &::after {
        background: $color--project-timeline-bar-endpoint;
        content: "";
        width: 12px;
        height: 12px;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        z-index: 10;
        margin: 0 auto;
        border-radius: 50%;
    }

    &--project:first-child {
        .project-timeline--details {
            padding: 0rem 3rem 3rem;
            margin-top: -4px;

            .project-timeline--details-box::before {
                background: #015871;
                content: "";
                width: 0px;
                height: 0px;
                left: 0;
                right: 0;
                top: 0;
                position: absolute;
                z-index: 10;
                margin: 0 auto;
                border-radius: 50%;
            }
        }
    }

    &--project {
        position: relative;

        .grid {
            gap: 0rem;
        }
    }

    &--bg {
        // width: 100%;
        // height: 100%;
        // border-radius: 20px; //0.5rem;
        padding: 4px;
        // position: absolute;
        // bottom: -0.75rem;
        // left: -0.75rem;

        // z-index: 0;
    }

    &--card {
        // box-shadow: 0 0 10px 1px rgba(0,0,0,.25);
        // background-color: #222;
        // border-radius: 20px; //0.5rem;
        // overflow: hidden;
        position: relative;
        z-index: 5;
    }

    &--image-wrapper {
        position: relative;
        // width: 100%;
        // height: 100%;
        max-height: 400px;
        overflow: hidden;
        transition: max-height 0.5s ease-out;

        @include atSmall {
            max-height: 640px;
        }

        @include atMedium {
            max-height: 800px;
        }
    }

    .expanded {
        max-height: 5000px;
        transition: max-height 0.5s ease-in;
        .project-timeline--image::before {
            // display: none;
            opacity: 0;
            transition: opacity 0.5s ease-in;
        }
    }

    &--expand-button {
        display: inline-block;
        margin: 1rem auto;
        background-color: $color--main;
        color: $color--project-timeline-bar-endpoint;
        cursor: pointer;
        border: 1px solid $color--project-timeline-bar-endpoint;
        padding: 0.5rem;
        border-radius: 0.5rem;
        z-index: 999;
    }


    &--image {
        // position: relative;
        @include atMedium() {
            // display: none;
        }

        &::before {
            background: linear-gradient(to bottom, transparent 0%, 80%, $color--main);
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            z-index: 10;
            opacity: 1;
            transition: opacity 0.5s ease-out;
        }
    }

    &--date {
        position: absolute;
        color: $color--main;
        background-color: $color--project-timeline-bar-endpoint;
        padding: 0.5rem;
        border-radius: 0.5rem;
        // left: 0;
        // right: 0;
        top: 0rem;
        left: 50%;
        transform: translate(-50%, -50%);
        display: inline-block;
        text-align: center;
        line-height: 0.8em;
    }

    &--details {
        padding: 3rem 1.5rem 1.5rem;

        @include atMedium {
            padding: 4rem 3rem 3rem;
        }
    }

    &--details-box {
        position: relative;
        background-color: $color--main;
        // border-top: 2px solid #444;
        // border-bottom: 2px solid #444;

        &::before {
            background: $color--project-timeline-bar-endpoint;
            content: "";
            width: 12px;
            height: 12px;
            left: 0;
            right: 0;
            top: 0;
            position: absolute;
            z-index: 10;
            margin: 0 auto;
            border-radius: 50%;
        }

        &::after {
            background: $color--project-timeline-bar-endpoint;
            content: "";
            width: 12px;
            height: 12px;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            z-index: 10;
            margin: 0 auto;
            border-radius: 50%;
        }
    }

    &--project:nth-child(even) {
        @include atMedium() {
            .grid {
                .column:nth-child(2) {
                    grid-row: 1;
                }
            }

            .project-timeline--bg {
                left: auto;
                // right: -0.75rem;
            }
        }
    }
      
    .project-timeline--project + .project-timeline--project {
        margin-top: 2rem;

        @include atMedium() {
            margin-top: 2rem;
        }
    }

    &--key-points {
        padding-left: 1.5rem;
    }

    .glass {
        border-radius: 0;
    }

    &--client {
        // display: none;
        position: absolute;
        margin: 0;
        top: 0rem;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 4rem;
        line-height: 0.8em;
        text-transform: uppercase;
        text-align: center;
        -webkit-text-stroke-color: $color--timeline-color;

        @include atSmall {
            font-size: 6rem;
          }
      
          @include atMedium {
            font-size: 8rem;
            // bottom: -0.5rem;
            // left: -1rem;
          }
      
          @include atLarge {
            font-size: 10rem;
          }
    }
}

:root {
	--card-height: 40vw;
	--card-margin: 4vw;
	--card-top-offset: 1em;
	--outline-width: 0px;
}

.card + .card {
    margin-top: 1.5rem;
}

@include atSmall{
    #cards {
        /* Make place at bottom, as items will slide to that position*/
        padding-bottom: calc(var(--numcards) * var(--card-top-offset));
        /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
        margin-bottom: var(--card-margin);
    }

    #card_1 {
        --index: 1;
    }

    #card_2 {
        --index: 2;
    }

    #card_3 {
        --index: 3;
    }

    #card_4 {
        --index: 4;
    }

    #card_5 {
        --index: 5;
    }

    #card_6 {
        --index: 6;
    }

    .card {
        position: sticky;
        top: 0;
        padding-top: calc(var(--index) * var(--card-top-offset));
    }

    .card__content {
        transform-origin: 50% 0%;
        will-change: transform;
    }

    .card + .card {
        margin-top: 0;
    }
}