{{ $site_background := partial "func/GetSiteBackground.html" . }}
{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

{{ $hero_image := "" }}
{{ with .Params.hero_image }}
  {{ $hero_image = trim . "/" | absURL }}
{{ end }}

{{ if $hero_image }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  <header class="gradient-bg" >
      <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
        {{ partial "site-navigation.html" .}}
  
        <div class="ph3 ph4-ns w-100 w-70-ns center">
          <div class="hero-area">
            <div class="grid grid--2column">
              <div class="column">
                <div class="hero-area--details">
                  <div class="f2 tc tl-ns 1h-copy hero-area--copy">
                    {{ .Content }}
                  </div>
                </div>
              </div>
              <div class="column">
                <img class="hero-area--image" src="{{ $hero_image }}">
              </div>
            </div>

          </div>
        </div>
    </div>
  </header>
{{ else }}
  {{ if .Params.featured_image }}
    {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
    <header class="hero-area--header gradient-bg">
      <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
        <div class="text-stagger">
          <h1 class="text-stroke text-stagger--el stagger-1 nowrap el">{{ .Params.hero_text1 }}{{ .Params.hero_text1 }}{{ .Params.hero_text1 }}</h1>
          <h1 class="text-stroke text-stagger--el stagger-2 nowrap el">{{ .Params.hero_text2 }}{{ .Params.hero_text2 }}{{ .Params.hero_text2 }}</h1>
          <h1 class="text-stroke text-stagger--el stagger-3 nowrap el">{{ .Params.hero_text3 }}{{ .Params.hero_text3 }}{{ .Params.hero_text3 }}</h1>
        </div>
  
        {{ partial "site-navigation.html" . }}
  
        <div class="flex-l flex-wrap items-center justify-center mw8 center ph3 hero-area--featured">    
          {{ with resources.Get .Params.featured_image }}
            <div class="hero-area--featured-image">
              <img src="{{ (.Fill "1080x900 webp q90 top").RelPermalink }}">
            </div>
          {{ end }}
        </div>
      </div>

    </header>
  {{ else }}
    <header>
      <div class="{{ .Site.Params.background_color_class | default "bg-black" }}">
        {{ partial "site-navigation.html" . }}
      </div>
    </header>
  {{ end }}
{{ end }}
