{{ $site_background := partial "func/GetSiteBackground.html" . }}
{{ $featured_image := partial "func/GetFeaturedImage.html" . }}

{{ $hero_image := "" }}
{{ with .Params.hero_image }}
  {{ $hero_image = trim . "/" | absURL }}
{{ end }}

{{ if .Params.hero_image_1 }}
  {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
  {{ if .Params.is_home }}
    <header class="hero-area--header hero-area--header-home gradient-bg">
  {{ else }}
    <header class="hero-area--header gradient-bg">
  {{ end }}
      {{/*  <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">  */}}
        <div class="text-stagger">
          <h1 class="text-stroke text-stagger--el stagger-1 nowrap el">{{ .Params.hero_text1 }}{{ .Params.hero_text1 }}{{ .Params.hero_text1 }}</h1>
          <h1 class="text-stroke text-stagger--el stagger-2 nowrap el">{{ .Params.hero_text2 }}{{ .Params.hero_text2 }}{{ .Params.hero_text2 }}</h1>
          <h1 class="text-stroke text-stagger--el stagger-3 nowrap el">{{ .Params.hero_text3 }}{{ .Params.hero_text3 }}{{ .Params.hero_text3 }}</h1>
        </div>

        {{ partial "site-navigation.html" .}}
  
        <div class="pv3 pv5-ns ph3 ph4-ns w-100 w-90-ns mw9 center relative z-999">
          <div class="hero-area">
            <div class="grid grid--2column">
              <div class="column">
                <div class="f4 f3-ns tc tl-ns hero-area--copy">
                  <div class="glass pa3 pa4-ns animate__animated animate__bounceInLeft">
                    {{ .Content | safeHTML  }}
                  </div>
                </div>
              </div>
              <div class="column">
                <div class="hero-area--details">
                  <div class="mb3 mb4-ns hero-area--image">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="hero-area--image-breakout">
          {{/*  <img class="animate__animated animate__slideInUp animate__delay-1s" src="{{ $hero_image }}">  */}}
          {{ with resources.Get .Params.hero_image_3 }}
            <img class="hero-area--image-3 shadow-2" src="{{ (.Fill "1080x960 webp q90 top").RelPermalink }}">
          {{ end }}
          {{ with resources.Get .Params.hero_image_2 }}
          <img class="hero-area--image-2 shadow-2" src="{{ (.Fill "1080x960 webp q90 top").RelPermalink }}">
          {{ end }}
          {{ with resources.Get .Params.hero_image_1 }}
            <img class="hero-area--image-1 shadow-2" src="{{ (.Fill "1080x960 webp q90 top").RelPermalink }}">
          {{ end }}
        </div>
          {{/*  <div class="hero-area--featured-image">
            <img src="{{ (.Fill "1080x900 webp q90 top").RelPermalink }}">
          </div>  */}}

    {{/*  </div>  */}}
  </header>
{{ else }}
  <header>
    <div class="cover" class="pb3-m pb6-l {{ .Site.Params.background_color_class | default "bg-black" }}" style="background-image: url('{{ $site_background }}');">
      {{ partial "site-navigation.html" . }}

      <div class="mw9 center ph3-ns">
        <div class="hero-area">
          <div class="hero-area--details">
            {{ .Content }}
          </div>
        </div>
      </div>

    </div>
  </header>
{{ end }}
