@font-face {
    font-family: 'FuturaXBlk';
    font-style:  normal;
    font-weight: 400;
    src:         local('FuturaXBlk'), local('FuturaXBlk'), url('/fonts/Futura XBlk BT.ttf') format('truetype');
}