.gradient {
    opacity: 0.8;
    background: none;
    position: relative;
}

.gradient:after,
.gradient:before {
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
}

.gradient:before {
    background: linear-gradient(135deg, var(--gradient-overlay-color-2) 0%, var(--gradient-overlay-color-1) 100%);
    animation: OpacityAnim var(--anim-duration) ease-in-out 0s infinite alternate;
}

.gradient:after {
    background: linear-gradient(135deg, var(--gradient-overlay-color-1) 0%, var(--gradient-overlay-color-2) 100%);
    animation: OpacityAnim var(--anim-duration) ease-in-out calc(-1 * var(--anim-duration)) infinite alternate;
}

@keyframes OpacityAnim {
    0%{opacity: 1.0}
    100%{opacity: 0.0}
}


.gradient-bg {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
    position: relative;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



.gradient-border {
    --border-width: 4px;
  
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-width);
    // background: #222;
    // background-color: rgba(255,255,255,.45);
    // backdrop-filter: blur(15px);
    // border: 1px solid rgba(255,255,255,.25);

  
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: calc(100% + var(--border-width) * 2);
      height: calc(100% + var(--border-width) * 2);
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: gradientBorder 4s alternate infinite;
    }
  }
  
  @keyframes gradientBorder {
    50% {
      background-position: 100% 50%;
    }
  }
  

.black-fade-down {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0.9) 100%);
}