@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

/* Line Clamp Styles */
@mixin lineClamp1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 0.08em;
}
@mixin lineClamp2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 0.08em;
}
@mixin lineClamp3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 0.08em;
}
@mixin lineClamp4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    padding-bottom: 0.08em;
}

// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@mixin atSmall {
    @media (min-width: $screenSize--small) {
        @content;
    }
}

@mixin atMedium {
    @media (min-width: $screenSize--medium) {
        @content;
    }
}

@mixin atLarge {
    @media (min-width: $screenSize--large) {
        @content;
    }
}

@mixin atMax {
    @media (min-width: $screenSize--max) {
        @content;
    }
}

@mixin fullWidth {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
