.skew {
    transform: skew(-14deg);
    -webkit-transform: skew(-14deg);
    -moz-transform: skew(-14deg);

    * {
        transform: skew(14deg);
        -webkit-transform: skew(14deg);
        -moz-transform: skew(14deg);
    }    
}