.text-stroke {
  color: transparent;
  text-transform: uppercase;
  -webkit-text-stroke: 2px white;
  text-stroke: 2px white;
  
  &--black {
    -webkit-text-stroke-color: black;
    text-stroke-color: black;
  }

  &--red {
    -webkit-text-stroke-color: red;
    text-stroke-color: red;
  }

  &--blue {
    -webkit-text-stroke-color: blue;
    text-stroke-color: blue;
  }

  &--green {
    -webkit-text-stroke-color: green;
    text-stroke-color: green;
  }

  &--orange {
    -webkit-text-stroke-color: orange;
    text-stroke-color: orange;
  }

  &--yellow {
    -webkit-text-stroke-color: yellow;
    text-stroke-color: yellow;
  }

  &--purple {
    -webkit-text-stroke-color: purple;
    text-stroke-color: purple;
  }

  &--pink {
    -webkit-text-stroke-color: pink;
    text-stroke-color: pink;
  }
}